## NOTEBOOK: Creating a Postgresql database locally and importing the dataset

Import libraries

In [28]:
import pandas as pd
from psycopg2 import connect
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

Use ipython-sql to run sql on jupyter notebook

In [1]:
%load_ext sql

### Importing CSV into PostgreSQL
- Use [csvkit](https://csvkit.readthedocs.io/en/1.0.3/) to convert csv into postgresql

In [11]:
!csvsql --db postgresql:///postgres --insert ../data/raw/ehresp_2014.csv

(psycopg2.ProgrammingError) relation "ehresp_2014" already exists
 [SQL: '\nCREATE TABLE ehresp_2014 (\n\ttucaseid DECIMAL NOT NULL, \n\ttulineno BOOLEAN NOT NULL, \n\teeincome1 DECIMAL NOT NULL, \n\terbmi DECIMAL NOT NULL, \n\terhhch DECIMAL NOT NULL, \n\terincome DECIMAL NOT NULL, \n\terspemch DECIMAL NOT NULL, \n\tertpreat DECIMAL NOT NULL, \n\tertseat DECIMAL NOT NULL, \n\tethgt DECIMAL NOT NULL, \n\tetwgt DECIMAL NOT NULL, \n\teudietsoda DECIMAL NOT NULL, \n\teudrink DECIMAL NOT NULL, \n\teueat DECIMAL NOT NULL, \n\teuexercise DECIMAL NOT NULL, \n\teuexfreq DECIMAL NOT NULL, \n\teufastfd DECIMAL NOT NULL, \n\teufastfdfrq DECIMAL NOT NULL, \n\teuffyday DECIMAL NOT NULL, \n\teufdsit DECIMAL NOT NULL, \n\teufinlwgt DECIMAL NOT NULL, \n\teusnap DECIMAL NOT NULL, \n\teugenhth DECIMAL NOT NULL, \n\teugroshp DECIMAL NOT NULL, \n\teuhgt DECIMAL NOT NULL, \n\teuinclvl DECIMAL NOT NULL, \n\teuincome2 DECIMAL NOT NULL, \n\teumeat DECIMAL NOT NULL, \n\teumilk DECIMAL NOT NULL, \n\teuprpmel DECIMAL NOT NULL, \n\teusoda DECIMAL NOT NULL, \n\teustores DECIMAL NOT NULL, \n\teustreason DECIMAL NOT NULL, \n\teutherm DECIMAL NOT NULL, \n\teuwgt DECIMAL NOT NULL, \n\teuwic DECIMAL NOT NULL, \n\texincome1 DECIMAL NOT NULL\n)\n\n'] (Background on this error at: http://sqlalche.me/e/f405)

### Connecting to the database

In [2]:
%sql postgresql://localhost/postgres

'Connected: @postgres'

### Explore Table

In [6]:
%%sql 
SELECT
    * 
FROM ehresp_2014 
    LIMIT 5;

 * postgresql://localhost/postgres
5 rows affected.

[(Decimal('20140101140007'), True, Decimal('-2'), Decimal('33.200001'), Decimal('1'), Decimal('-1'), Decimal('-1'), Decimal('30'), Decimal('2'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('-1'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('5202086'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('60'), Decimal('5'), Decimal('-2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('170'), Decimal('1'), Decimal('2')),
 (Decimal('20140101140011'), True, Decimal('1'), Decimal('22.700001'), Decimal('3'), Decimal('1'), Decimal('-1'), Decimal('45'), Decimal('14'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('29400000'), Decimal('2'), Decimal('2'), Decimal('3'), Decimal('63'), Decimal('5'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('128'), Decimal('2'), Decimal('0')),
 (Decimal('20140101140028'), True, Decimal('2'), Decimal('49.400002'), Decimal('3'), Decimal('5'), Decimal('-1'), Decimal('60'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('26000000'), Decimal('2'), Decimal('5'), Decimal('2'), Decimal('62'), Decimal('5'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('270'), Decimal('2'), Decimal('12')),
 (Decimal('20140101140063'), True, Decimal('-2'), Decimal('-1'), Decimal('3'), Decimal('-1'), Decimal('-1'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('2728880'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('64'), Decimal('5'), Decimal('-2'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('6'), Decimal('-1'), Decimal('-2'), Decimal('2'), Decimal('2')),
 (Decimal('20140101140168'), True, Decimal('2'), Decimal('31'), Decimal('3'), Decimal('5'), Decimal('-1'), Decimal('65'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('5'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('17500000'), Decimal('1'), Decimal('4'), Decimal('1'), Decimal('69'), Decimal('5'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('210'), Decimal('1'), Decimal('0'))]

How many people have weight>200 lbs?

In [36]:
%%sql
SELECT 
    COUNT(tucaseid)
FROM ehresp_2014
    WHERE euwgt>200;

 * postgresql://localhost/postgres
1 rows affected.

[(2500,)]

How many people have >30 bmi, or OBESE

In [37]:
%%sql
SELECT 
    COUNT(tucaseid)
FROM ehresp_2014
    WHERE erbmi > 30;

 * postgresql://localhost/postgres
1 rows affected.

[(3040,)]

How many people have <30 bmi, or NOT OBESE

In [38]:
%%sql
SELECT 
    COUNT(tucaseid)
FROM ehresp_2014
    WHERE erbmi < 30;

 * postgresql://localhost/postgres
1 rows affected.

[(8084,)]

Any negative answers? 
- blanks (-1)
- don't know (-2)
- refused to answer (-3_

How many people don't exercise and are obese?

In [42]:
%%sql
SELECT 
    COUNT(tucaseid)
FROM ehresp_2014
    WHERE (euexfreq<0 AND erbmi>30);

 * postgresql://localhost/postgres
1 rows affected.

[(1390,)]

How many people exercise and yet still obese?

In [41]:
%%sql
SELECT
    COUNT(tucaseid)
FROM ehresp_2014
    WHERE (euexfreq>0 AND erbmi>30);

 * postgresql://localhost/postgres
1 rows affected.

[(1650,)]

Locate people who order takeouts/order fastfood and obese, ordered by weight

In [44]:
%%sql
SELECT 
    *
FROM ehresp_2014
    WHERE (erbmi>30 AND eufastfdfrq>0)
        ORDER BY
            euwgt DESC
    LIMIT 8;

 * postgresql://localhost/postgres
8 rows affected.

[(Decimal('20140403140670'), True, Decimal('2'), Decimal('43.599998'), Decimal('1'), Decimal('3'), Decimal('5'), Decimal('60'), Decimal('30'), Decimal('0'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('15'), Decimal('1'), Decimal('1'), Decimal('4300922'), Decimal('2'), Decimal('3'), Decimal('2'), Decimal('74'), Decimal('5'), Decimal('1'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('340'), Decimal('1'), Decimal('0')),
 (Decimal('20140403140731'), True, Decimal('1'), Decimal('53.200001'), Decimal('3'), Decimal('1'), Decimal('-1'), Decimal('45'), Decimal('15'), Decimal('0'), Decimal('1'), Decimal('-1'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('3'), Decimal('2'), Decimal('1'), Decimal('3230588'), Decimal('1'), Decimal('3'), Decimal('1'), Decimal('67'), Decimal('5'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('3'), Decimal('1'), Decimal('2'), Decimal('340'), Decimal('2'), Decimal('0')),
 (Decimal('20140302142086'), True, Decimal('2'), Decimal('46.099998'), Decimal('3'), Decimal('5'), Decimal('-1'), Decimal('30'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('2'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('2508998'), Decimal('2'), Decimal('4'), Decimal('1'), Decimal('72'), Decimal('5'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('1'), Decimal('6'), Decimal('2'), Decimal('340'), Decimal('-1'), Decimal('0')),
 (Decimal('20140301141057'), True, Decimal('1'), Decimal('73.599998'), Decimal('3'), Decimal('1'), Decimal('5'), Decimal('55'), Decimal('0'), Decimal('0'), Decimal('1'), Decimal('-1'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('4'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('5869593'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('57'), Decimal('5'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('340'), Decimal('1'), Decimal('0')),
 (Decimal('20140302141278'), True, Decimal('2'), Decimal('47.400002'), Decimal('3'), Decimal('3'), Decimal('5'), Decimal('45'), Decimal('10'), Decimal('0'), Decimal('1'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('3'), Decimal('1'), Decimal('1'), Decimal('13500000'), Decimal('2'), Decimal('3'), Decimal('2'), Decimal('71'), Decimal('5'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('340'), Decimal('2'), Decimal('0')),
 (Decimal('20140112130956'), True, Decimal('1'), Decimal('42.5'), Decimal('3'), Decimal('1'), Decimal('5'), Decimal('50'), Decimal('-2'), Decimal('0'), Decimal('0'), Decimal('2'), Decimal('1'), Decimal('-2'), Decimal('1'), Decimal('4'), Decimal('1'), Decimal('14'), Decimal('1'), Decimal('1'), Decimal('4661715'), Decimal('2'), Decimal('3'), Decimal('2'), Decimal('75'), Decimal('5'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('340'), Decimal('2'), Decimal('0')),
 (Decimal('20140302140854'), True, Decimal('1'), Decimal('43.599998'), Decimal('3'), Decimal('1'), Decimal('5'), Decimal('120'), Decimal('0'), Decimal('0'), Decimal('1'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('3'), Decimal('2'), Decimal('1'), Decimal('8119375'), Decimal('2'), Decimal('3'), Decimal('2'), Decimal('74'), Decimal('5'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('340'), Decimal('2'), Decimal('0')),
 (Decimal('20140403141911'), True, Decimal('2'), Decimal('51.700001'), Decimal('3'), Decimal('5'), Decimal('-1'), Decimal('60'), Decimal('2'), Decimal('0'), Decimal('1'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('2'), Decimal('5197074'), Decimal('1'), Decimal('4'), Decimal('1'), Decimal('68'), Decimal('5'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('340'), Decimal('2'), Decimal('0'))]

How many people eat/serve meat and use meat thermometer

In [48]:
%%sql
SELECT 
    COUNT(tucaseid)
FROM ehresp_2014
    WHERE (eumeat=1 AND eutherm=1);

 * postgresql://localhost/postgres
1 rows affected.

[(846,)]

Look for people who are under 100 lbs

In [46]:
%%sql
SELECT 
    *  
FROM ehresp_2014
    WHERE (euwgt<100)
        LIMIT 4;

 * postgresql://localhost/postgres
4 rows affected.

[(Decimal('20140101140063'), True, Decimal('-2'), Decimal('-1'), Decimal('3'), Decimal('-1'), Decimal('-1'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('-1'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('2728880'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('64'), Decimal('5'), Decimal('-2'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('6'), Decimal('-1'), Decimal('-2'), Decimal('2'), Decimal('2')),
 (Decimal('20140101140872'), True, Decimal('1'), Decimal('-1'), Decimal('3'), Decimal('1'), Decimal('5'), Decimal('0'), Decimal('10'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('4'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('8319956'), Decimal('2'), Decimal('4'), Decimal('3'), Decimal('65'), Decimal('5'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-3'), Decimal('2'), Decimal('0')),
 (Decimal('20140101141672'), True, Decimal('2'), Decimal('-1'), Decimal('3'), Decimal('5'), Decimal('5'), Decimal('25'), Decimal('15'), Decimal('0'), Decimal('-1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('28200000'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('64'), Decimal('5'), Decimal('2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('1'), Decimal('-5'), Decimal('1'), Decimal('0')),
 (Decimal('20140101141837'), True, Decimal('-2'), Decimal('-1'), Decimal('3'), Decimal('-1'), Decimal('-1'), Decimal('150'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('2'), Decimal('1'), Decimal('3'), Decimal('1'), Decimal('3'), Decimal('2'), Decimal('1'), Decimal('12400000'), Decimal('2'), Decimal('3'), Decimal('1'), Decimal('-2'), Decimal('5'), Decimal('-2'), Decimal('1'), Decimal('2'), Decimal('1'), Decimal('-1'), Decimal('1'), Decimal('3'), Decimal('2'), Decimal('-2'), Decimal('-1'), Decimal('2'))]

Now, add another columns corresponding to obesity classification
- 0 for Not Obese
- 1 for Obese

### Select columns of interest and create a view table

In [8]:
%%sql 
SELECT 
    ertpreat, ertseat, euexfreq, eufastfdfrq, eugenhth, erbmi 
FROM ehresp_2014 
    LIMIT 5;

 * postgresql://localhost/postgres
5 rows affected.

[(Decimal('30'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('33.200001')),
 (Decimal('45'), Decimal('14'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('22.700001')),
 (Decimal('60'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('5'), Decimal('49.400002')),
 (Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('-1')),
 (Decimal('65'), Decimal('0'), Decimal('5'), Decimal('-1'), Decimal('4'), Decimal('31'))]

Create a VIEW table with columns of interest AND add another column based on conditionals

In [15]:
%%sql
CREATE VIEW main_table AS (
    SELECT ertpreat, ertseat, euexfreq, eufastfdfrq, eugenhth, erbmi,
        CASE WHEN erbmi>30 THEN 'NotObese'
                   ELSE 'Obese'
        END
    FROM ehresp_2014
        -- NO LIMIT
        );

 * postgresql://localhost/postgres
Done.

[]

Check out the VIEW table

In [16]:
%%sql
SELECT *
FROM main_table
    LIMIT 5;

 * postgresql://localhost/postgres
5 rows affected.

[(Decimal('30'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('33.200001'), 'NotObese'),
 (Decimal('45'), Decimal('14'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('22.700001'), 'Obese'),
 (Decimal('60'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('5'), Decimal('49.400002'), 'NotObese'),
 (Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('-1'), 'Obese'),
 (Decimal('65'), Decimal('0'), Decimal('5'), Decimal('-1'), Decimal('4'), Decimal('31'), 'NotObese')]

Renaming VIEW table column names, so that they are more intuitive

In [17]:
%%sql
ALTER TABLE main_table
    RENAME COLUMN ertpreat 
        TO timeEat;
        
ALTER TABLE main_table
    RENAME COLUMN ertseat
        TO timesnack;

ALTER TABLE main_table
    RENAME COLUMN euexfreq
        TO exercisefreq;

ALTER TABLE main_table
    RENAME COLUMN eufastfdfrq
        TO fastfdfreq;
    
ALTER TABLE main_table
    RENAME COLUMN eugenhth
        TO genhealth;
        
ALTER TABLE main_table 
    RENAME COLUMN erbmi
        TO bmi;
        
ALTER TABLE main_table
    RENAME COLUMN case
        TO obese;

 * postgresql://localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.
(psycopg2.ProgrammingError) syntax error at or near "case"
LINE 2:     RENAME COLUMN case
                          ^
 [SQL: 'ALTER TABLE main_table\n    RENAME COLUMN case\n        TO obese;'] (Background on this error at: http://sqlalche.me/e/f405)

Check the renamed column names in the main_table

In [37]:
%%sql 
SELECT * 
    FROM main_table
        LIMIT 5;

   postgresql://localhost/
 * postgresql://localhost/postgres
5 rows affected.

[(Decimal('30'), Decimal('2'), Decimal('-1'), Decimal('-1'), Decimal('1'), Decimal('33.200001')),
 (Decimal('45'), Decimal('14'), Decimal('-1'), Decimal('1'), Decimal('2'), Decimal('22.700001')),
 (Decimal('60'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('5'), Decimal('49.400002')),
 (Decimal('0'), Decimal('0'), Decimal('-1'), Decimal('-1'), Decimal('2'), Decimal('-1')),
 (Decimal('65'), Decimal('0'), Decimal('5'), Decimal('-1'), Decimal('4'), Decimal('31'))]

### Extract VIEW table into pandas dataframe

In [38]:
# local machine
params = {
    'host': '127.0.0.1',
    'port': 5432
}

In [39]:
# Connect to database
connection = connect(**params,dbname='postgres')
cursor = connection.cursor()

In [44]:
# move cursor and fetch table
cursor.execute('SELECT * FROM main_table;')
df = pd.DataFrame(data = cursor.fetchall(),
                  columns = ['timeeat', 'timesnack','exercisefreq',
                            'fastfdfreq','genhealth','bmi'])

In [45]:
df.head()

  timeeat timesnack exercisefreq fastfdfreq genhealth        bmi
0      30         2           -1         -1         1  33.200001
1      45        14           -1          1         2  22.700001
2      60         0           -1         -1         5  49.400002
3       0         0           -1         -1         2         -1
4      65         0            5         -1         4         31

- once it's in pandas dataframe, cleaning and modeling can be done as usual (see notebooks for Step2 and Step3)

---